<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqb.mapper.SubmitContentMapper" >
  <resultMap id="BaseResultMap" type="com.tqb.pojo.SubmitContent" >
    <id column="sc_id" property="scId" jdbcType="INTEGER" />
    <result column="si_id" property="siId" jdbcType="INTEGER" />
    <result column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="sc_answer" property="scAnswer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sc_id, si_id, c_id, sc_answer
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tqb.pojo.SubmitContentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from submit_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from submit_content
    where sc_id = #{scId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from submit_content
    where sc_id = #{scId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tqb.pojo.SubmitContentExample" >
    delete from submit_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tqb.pojo.SubmitContent" >
    insert into submit_content (si_id, c_id, 
      sc_answer)
    values (#{siId,jdbcType=INTEGER}, #{cId,jdbcType=INTEGER}, 
      #{scAnswer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tqb.pojo.SubmitContent" >
    insert into submit_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scId != null" >
        sc_id,
      </if>
      <if test="siId != null" >
        si_id,
      </if>
      <if test="cId != null" >
        c_id,
      </if>
      <if test="scAnswer != null" >
        sc_answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scId != null" >
        #{scId,jdbcType=INTEGER},
      </if>
      <if test="siId != null" >
        #{siId,jdbcType=INTEGER},
      </if>
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="scAnswer != null" >
        #{scAnswer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tqb.pojo.SubmitContentExample" resultType="java.lang.Integer" >
    select count(*) from submit_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update submit_content
    <set >
      <if test="record.scId != null" >
        sc_id = #{record.scId,jdbcType=INTEGER},
      </if>
      <if test="record.siId != null" >
        si_id = #{record.siId,jdbcType=INTEGER},
      </if>
      <if test="record.cId != null" >
        c_id = #{record.cId,jdbcType=INTEGER},
      </if>
      <if test="record.scAnswer != null" >
        sc_answer = #{record.scAnswer,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update submit_content
    set sc_id = #{record.scId,jdbcType=INTEGER},
      si_id = #{record.siId,jdbcType=INTEGER},
      c_id = #{record.cId,jdbcType=INTEGER},
      sc_answer = #{record.scAnswer,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqb.pojo.SubmitContent" >
    update submit_content
    <set >
      <if test="siId != null" >
        si_id = #{siId,jdbcType=INTEGER},
      </if>
      <if test="cId != null" >
        c_id = #{cId,jdbcType=INTEGER},
      </if>
      <if test="scAnswer != null" >
        sc_answer = #{scAnswer,jdbcType=VARCHAR},
      </if>
    </set>
    where sc_id = #{scId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tqb.pojo.SubmitContent" >
    update submit_content
    set si_id = #{siId,jdbcType=INTEGER},
      c_id = #{cId,jdbcType=INTEGER},
      sc_answer = #{scAnswer,jdbcType=VARCHAR}
    where sc_id = #{scId,jdbcType=INTEGER}
  </update>
</mapper>